* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "SanDiego";
  position: relative;
}

#container-custom {
  width: 100vw;
  height: 180px;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 3.4rem;
}
@media (max-width: 992px) {
  #container-custom {
    height: auto;
    min-height: 340px;
    width: 100%;
  }
  .container-custom {
    position: relative;
    bottom: 5rem;
  }
}

.container-custom1 {
  width: 72rem;
  max-width: 100%;
  position: relative;
  top: 2.4rem;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container-custom1 {
    width: 100%;
    margin: 0;
  }
  .container-custom1 {
    width: 100%;
    margin-left: -1.9rem;
    margin-right: 0;
    padding: 0;
  }
}

.custom-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0.2rem;
  width: 303px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  border-radius: 10px;
}

.custom-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown .nav-item {
  margin: 0;
}

.custom-dropdown .nav-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}

.custom-dropdown .nav-link:hover {
  background-color: #f0f0f0;
}

.navbar-toggler {
  position: relative;
  z-index: 1050;
  border: none;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }
  .hamburger-image {
    position: relative;
    bottom: 0.9rem;
    right: -2rem;
  }
  .navbar-icons {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
  }
  .addcarts {
    margin-top: -1.2rem;
  }
}

.profiles {
  width: 25px;
  height: 25px;
}
.profiles1 {
  width: 25px;
  height: 25px;
}

.addcarts {
  position: absolute;
  top: 0.6rem;
  font-family: Verdana, Tahoma, sans-serif;
}

@media (max-width: 450px) {
  .navbar-icons {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 993px) {
  .custom-dropdown {
    display: none;
  }

  .navbar-collapse {
    display: flex;
  }

  .navbar-brand.d-lg-none {
    display: none;
  }
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.container-contact {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  bottom: 42%;
}

#container-contact1 {
  font-family: "SanDiego";
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  bottom: 100%;
  left: 21%;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.breadcrumb-item {
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .container-contact {
    font-size: 1.5rem;
  }

  #container-contact1 {
    text-align: center;
    margin-top: 1rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-contact {
    font-size: 1.75rem;
  }

  #container-contact1 {
    text-align: left;
    margin-top: 1.5rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .container-contact {
    font-size: 2rem;
  }

  #container-contact1 {
    text-align: left;
    margin-top: 2rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
  }
}

@font-face {
  font-family: "SanDiego";
  src: url("../../../src/assets/fonts/SanDiego.ttf") format("truetype");
}

.blog-condition {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .blog-condition {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .blog-condition {
    width: 100%;
    max-width: 98%;
    height: 100%;
  }
}

.blog-box {
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e3e4ec;
}
.lorem-condition {
  color: #232323;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  left: 0.2rem;
}

.integer1 {
  width: 100%;
  max-width: 98%;
  height: auto;
  background-color: rgb(114, 160, 160);
  padding: 1rem;
  box-sizing: border-box;
}

.integer1 p {
  font-weight: 700;
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .integer1 {
    max-width: 96%;
  }
}

@media (min-width: 1400px) {
  .integer1 {
    max-width: 98%;
  }
}
.unordered-list {
  color: #5c727d;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  left: 0.3rem;
}
.double-box {
  width: 100%;
  max-width: 46%;
  height: 14rem;
  background-color: #e3e4ec;
  position: relative;
  left: 0.4rem;
}

@media (max-width: 576px) {
  .double-box {
    width: 100%;
    max-width: 90%;
  }
}

.play-button1 {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #ffffff;
  position: relative;
  left: 36%;
  top: 33%;
  cursor: pointer;
}

.media-blog {
  width: 100%;
  max-width: 36%;
  height: 0.05px;
  border: 1px solid rgb(158, 74, 74);
  background-color: #5c727d;
  position: relative;
  left: 1rem;
}

@media (max-width: 576px) {
  .media-blog {
    width: 100%;
    max-width: 100%;
  }
}

.media-blog2 {
  position: relative;
  left: -2rem;
}

.social-links1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.social-link2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
}
.media-col {
  position: relative;
  left: -1rem;
}

.reviews-detail {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  position: relative;
  left: 5rem;
  background-color: #e3e4ec;
}

.rating {
  position: relative;
  top: 0.2rem;
}

.lorem-green {
  line-height: 1.5rem;
  list-style: none;
}

.lorem-green::before {
  content: "•";
  color: green;
  font-size: 2em;
  margin-right: 0.6rem;
  position: relative;
  top: -0.1rem;
}

.lorem-write {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 767px) and (max-width: 770px) {
  .lorem-write1 {
    width: 100%;
    max-width: 100%;
  }
}

.lorem-write:focus {
  background-color: #e3e4ec;
}

.review-page {
  background-color: #f4f4f8;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 22rem;
}

.comment-post {
  background-color: #0a9a73;
  border: none;
  border-radius: 0.25rem;
}

.comment-post:hover {
  background-color: #087d62;
}

.save-para {
  color: #133344;
  font-weight: 400;
}

@media (max-width: 576px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .review-page {
    width: 100%;
    height: 100%;
  }
}
.control-form {
  border-left: none;
  border-right: none;
  padding: 1rem 1rem;
  background-color: #f4f4f8;
}

.pharmacy {
  position: relative;
  left: 0.5rem;
}

.lorem-terms {
  letter-spacing: 1px;
  word-spacing: 2px;
  color: black;
}

.lorem-terms::marker {
  color: green;
  font-weight: bolder;
}
