* {
  box-sizing: border-box;
}
html,
body {
  height: 130vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: "SanDiego";
}

#container-custom {
  width: 100vw;
  height: 180px;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 3.4rem;
}
@media (max-width: 992px) {
  #container-custom {
    height: auto;
    min-height: 340px;
    width: 100%;
  }
  .container-custom {
    position: relative;
    bottom: 5rem;
  }
}

.container-custom1 {
  width: 72rem;
  max-width: 100%;
  position: relative;
  top: 2.4rem;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container-custom1 {
    width: 100%;
    margin: 0;
  }
  .container-custom1 {
    width: 100%;
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-toggler-icons {
    position: relative;
    right: 2.3rem;
    top: 1rem;
  }
}

.custom-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0.2rem;
  width: 303px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
    position: absolute;
    top: 5.6rem;
    width: 303px;
  }
}

.custom-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown .nav-item {
  margin: 0;
}

.custom-dropdown .nav-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}

.custom-dropdown .nav-link:hover {
  background-color: #f0f0f0;
}

.navbar-toggler {
  position: relative;
  z-index: 1050;
  border: none;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }
  .hamburger-image {
    position: relative;
    bottom: 0.9rem;
    right: -2rem;
  }
  .navbar-icons {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
  }
  .addcarts {
    margin-top: -1.2rem;
  }
}

.profiles {
  width: 25px;
  height: 25px;
}
.profiles1 {
  width: 25px;
  height: 25px;
}

.addcarts {
  position: absolute;
  top: 0.6rem;
  font-family: Verdana, Tahoma, sans-serif;
}

@media (max-width: 576px) {
  .navbar-icons {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (min-width: 993px) {
  .custom-dropdown {
    display: none;
  }

  .navbar-collapse {
    display: flex;
  }

  .navbar-brand.d-lg-none {
    display: none;
  }
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
