* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "SanDiego";
  position: relative;
}

#container-custom {
  width: 100vw;
  height: 180px;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}
.container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 3.4rem;
}
@media (max-width: 992px) {
  #container-custom {
    height: auto;
    min-height: 340px;
    width: 100%;
  }
  .container-custom {
    position: relative;
    bottom: 5rem;
  }
}

.container-custom1 {
  width: 72rem;
  max-width: 100%;
  position: relative;
  top: 2.4rem;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container-custom1 {
    width: 100%;
    margin: 0;
  }
  .container-custom1 {
    width: 100%;
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-toggler-icons {
    position: relative;
    right: 2.3rem;
    top: 1rem;
  }
}

.custom-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0.2rem;
  width: 303px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
    position: absolute;
    top: 5.6rem;
    width: 303px;
  }
}

.custom-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown .nav-item {
  margin: 0;
}

.custom-dropdown .nav-link {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}

.custom-dropdown .nav-link:hover {
  background-color: #f0f0f0;
}

.navbar-toggler {
  position: relative;
  z-index: 1050;
  border: none;
}

@media (max-width: 992px) {
  .custom-dropdown {
    display: block;
  }

  .navbar-brand.d-lg-none {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }
  .hamburger-image {
    position: relative;
    bottom: 0.9rem;
    right: -2rem;
  }
  .navbar-icons {
    position: absolute;
    top: 1.4rem;
    right: 5rem;
  }
  .addcarts {
    margin-top: -1.2rem;
  }
}

.profiles {
  width: 25px;
  height: 25px;
}
.profiles1 {
  width: 25px;
  height: 25px;
}

.addcarts {
  position: absolute;
  top: 0.6rem;
  font-family: Verdana, Tahoma, sans-serif;
}

@media (max-width: 576px) {
  .navbar-icons {
    display: flex;
    flex-wrap: nowrap;
  }
}

/* @media (max-width: 450px) {
  .navbar-icons {
    display: flex;
    flex-wrap: nowrap;
  }
} */

@media (min-width: 993px) {
  .custom-dropdown {
    display: none;
  }

  .navbar-collapse {
    display: flex;
  }

  .navbar-brand.d-lg-none {
    display: none;
  }
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.container-contact {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  bottom: 42%;
}

#container-contact1 {
  font-family: "SanDiego";
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  bottom: 100%;
  left: 21%;
}

.breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.breadcrumb-item {
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .container-contact {
    font-size: 1.5rem;
  }

  #container-contact1 {
    text-align: center;
    margin-top: 1rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-contact {
    font-size: 1.75rem;
  }

  #container-contact1 {
    text-align: left;
    margin-top: 1.5rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .container-contact {
    font-size: 2rem;
  }

  #container-contact1 {
    text-align: left;
    margin-top: 2rem;
    white-space: nowrap;
  }

  .breadcrumb {
    flex-direction: row;
  }
}

@font-face {
  font-family: "SanDiego";
  src: url("../../../src/assets/fonts/SanDiego.ttf") format("truetype");
}

.query {
  width: 100%;
  max-width: 36rem;

  height: 33rem;
  background-color: #ffffff;
  padding: 1rem;
}

.query-feel {
  line-height: 2.5rem;
  color: #232323;
  font-weight: 560;
  font-family: "SanDiego";
}

.phone-mail {
  width: 100%;
  max-width: 27rem;
  height: auto;
  background-color: #88ccb9;
  margin-bottom: 1rem;
  font-family: "SanDiego";
}

.rounded-border {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #0a9a73;
}

.head-office {
  color: #666e77;
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 760px) and (max-width: 770px) {
  .contact-name {
    width: 100%;
    max-width: 100%;
  }
  .contact-name5 {
    width: 200%;
    max-width: 155%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .query {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .phone-mail {
    max-width: 100%;
    padding: 1rem;
  }

  .rounded-border {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 576px) {
  .query {
    padding: 0.5rem;
  }

  .phone-mail {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .rounded-border {
    height: 3rem;
    width: 3rem;
  }
}
.button-btn {
  background-color: #0a9a73;
}

.query {
  width: 100%;
  max-width: 36rem;
  background-color: #ffffff;
  padding: 1rem;
}

.form-group {
  width: 100%;
}

button.button-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .query {
    padding: 1rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-12 {
    text-align: center;
  }
  /* .first-texts{
      
    } */

  .form-group {
    width: 100%;
    max-width: 400px;
  }

  .form-control {
    width: 100%;
    font-family: "SanDiego";
  }

  button.button-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.name1 {
  position: relative;
  top: 1.1rem;
  font-family: "SanDiego";
}

.blackitalic {
  font-family: "SanDiego";
}

#product {
  width: 100%;
  max-width: 100%;
}
#message {
  width: 100%;
  max-width: 100%;
}

.full-width-container {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.fully {
  width: 100%;
  height: 18rem;
  background-color: #e5e5e8;
  position: relative;
  top: -10rem;
}

.lorem-contact {
  letter-spacing: 1px;
  word-spacing: 2px;
}

.lorem-contact1 {
  letter-spacing: 1px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 576px) {
  .lorem-contact1 {
    width: 100%;
    max-width: 100%;
  }
}

.list-contact ul li {
  list-style: none;
}

.captcha-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.captcha-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.captcha-input {
  width: 100%;
  max-width: 90%;
  padding: 10px;
  border-radius: 4px;
}

.captcha-button {
  padding: 0px 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2.4rem;
  margin-top: -0.5rem;
}

.error-message {
  color: red;
  margin-top: 10px;
}
